/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow-y: hidden !important;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}