@import "bootstrap/mixins";

#main-navigation, #secondary-navigation {
  ul {
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      
      a {
        display: block;
        font: {
          size: 13px;
          weight: bold;
        }
        text-decoration: none;
        color: #444;
        padding: 20px 10px;
        @include vertical-gradient(#D5DEE7, darken(#D5DEE7, 2%));
        border-top: 1px solid lighten(#D5DEE7, 10%);
        border-bottom: 1px solid darken(#D5DEE7, 10%);

        &:hover {
          @include vertical-gradient(lighten(#D5DEE7, 5%), #D5DEE7);
        }

        &.active {
          @include vertical-gradient(lighten(#62B96C, 5%), darken(#62B96C, 5%));
          border-top: 1px solid darken(#62B96C, 10%);
          border-bottom: 1px solid darken(#62B96C, 15%);
          color: white;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}       

#secondary-navigation {
  ul {
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
    li {
      display: block;
      font: {
        size: 14px;
      }
      color: #222;
      padding: 0;
      @include vertical-gradient(#FEFEFE, #EFEFEF);
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #DEDEDE;

      &.active {
        @include vertical-gradient(#E3F5CE, darken(#E3F5CE, 5%));
        border-top: 1px solid darken(#E3F5CE, 10%);
        border-bottom: 1px solid darken(#E3F5CE, 20%);
      }
    }
  }
}