@import "bootstrap/mixins";

#header {
  .pane {
    @include vertical-gradient(lighten(#3C4558, 15%), #3C4558);
    border-right: 1px solid lighten(#3C4558, 15%);
    border-left: 1px solid darken(#3C4558, 2%);
    border-bottom: 1px solid darken(#3C4558, 10%);
    
    &:first-child {
      border-left: 1px solid transparent;
    }
    
    &:last-child {
      border-right: 1px solid transparent;
    }
  }
}

#body {
  .pane {
    border-left: 1px solid darken(#D5DEE7, 10%);
  
    &:first-child {
      background-color: #D5DEE7;
      border-left: 1px solid transparent;
      border-right: none;
    }
    
    &:last-child {
      border-left: 1px solid #cecece;
      border-right: 1px solid transparent;
    }
  }
}

#footer {
  .pane {
    @include vertical-gradient(#EFEFEF, #DFDFDF);
    border-right: 1px solid lighten(#F0ECE3, 10%);
    border-left: 1px solid darken(#EDEDED, 10%);
    border-top: 1px solid #cecece;
    
    &:first-child {
      background-color: #D5DEE7;
      background-image: none;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right: 1px solid transparent;
    }
    
    &:last-child {
      border-right-color: transparent;
    }
  }  
}