<div class="group">
  <div class="key">
    <input type="text" name="custom_fields[][key]" value="" placeholder="Key" class="input-text">
  </div>
  <div class="value">
    <input type="text" name="custom_fields[][value]" value="" placeholder="value" class="input-text">
  </div>
  <div class="delete">
    <a href="#" class="remove remove-custom-field">Remove</a>
  </div>
</div>