<div class="group">
  <div class="key">
    <input type="text" name="meta_names[][key]" value="" placeholder="Key" class="input-text">
  </div>
  <div class="value">
    <input type="text" name="meta_names[][value]" value="" placeholder="value" class="input-text">
  </div>
  <div class="delete">
    <a href="#" class="remove remove-meta-name">Remove</a>
  </div>
</div>