<h2>Filter Your Posts</h2>
<p>
	Click a button below to filter your posts. Note that you must restore 
	deleted posts before you can edit them.
</p>
<dl class="nice vertical tabs">
	<dd><a href="#posts">All Posts <small class="right">Show published and unpublished</small></a></dd>
	<dd><a href="#posts/published">Published <small class="right">Show only published posts</small></a></dd>
	<dd><a href="#posts/unpublished">Unpublished <small class="right">Show only draft or unpublished posts</small></a></dd>
	<dd><a href="#posts/deleted">Deleted <small class="right">Show all deleted posts. You can restore them!</small></a></dd>
</dl>
<a class="close-reveal-modal">&#215;</a>